body {
    background: #cecece;
    box-sizing: border-box;
    color: #101010;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 0px auto;
    max-width: 640px;
    width: 90%;
}

.board {
    margin-top: 50px;
    padding: 2em;
    background: rgba(255, 255, 255, 0.7);
    border: 10px solid #ffffff;
    border-radius: 25px;
    -webkit-box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
}
.board_error {
    border: 10px solid #cc0000;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

.midi-info {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midi-device {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 10px;
}
#midi_mon {
    width: 10px;
    height: 10px;
    margin: 3px 3px 3px 10px;
}
#midi_mon.active {
    background-color: #559c31;
}
#midi_error {
    padding: 2px 10px;
    color: #cc0000;
}

#stave {
    margin: 0 auto;
    height: 375px;
}

#result {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.point-box {
    display: flex;
    justify-content: space-around;
}
#points {
    background-color: rgba(26, 162, 26, 0.4);
    color: #ffffff;
    padding: 4px 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100px;
}
#penalties {
    background-color: rgba(204, 0, 0, 0.4);
    color: #ffffff;
    padding: 4px 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100px;
}

#level {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.success {
    color: #00cc00;
}
.error {
    color: #cc0000;
}

.note {
    transition: opacity 0.5s ease-out;
}
.correct {
    opacity: 0;
}

#note_name {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
